<!DOCTYPE html>
<html>
  <head>
    <title>Botman</title>
    <meta charset="utf-8" />
    <link href="/stylesheets/index-stylesheet.css" rel="stylesheet"  />
  </head>
  <body>
    <header class="header-container">
      <div class="logo-container"><img src="/assets/images/bot_logo2.png" class="logo"/></div>
      <div class="title-container">BotMan</div>
    </header>
    <div class="main">
      <div class="button-container" onclick="window.location.href = '/auth/github'">
        <img src=/assets/images/white-git-login.png /><span class="git-login">Login with <strong>Github</strong></span>
      </div>
    </div>
  </body>
</html>