<div class="container">

	<h2>JavaScript Editor</h2>
	<p>Type your code below</p>

	<textarea id="myTextarea" rows="20" class="codemirror-textarea"></textarea>
	<button onclick="saveWorkspace()">Save workspace</button>
</div>
<style type="text/css">
.CodeMirror {
	border: 1px solid black;
}

.lint-error {
	font-family: arial;
	font-size: 70%;
	background: #ffa;
	color: #a00;
	padding: 2px 5px 3px;
}

.lint-error-icon {
	color: white;
	background-color: red;
	font-weight: bold;
	border-radius: 50%;
	padding: 0 3px;
	margin-right: 7px;
}
</style>

<script>

var editor = CodeMirror.fromTextArea(document.getElementById("myTextarea"),
		{
			lineNumbers : true,
			mode : "javascript",
			gutters : [ "CodeMirror-lint-markers" ],
			lint : true
		});

editor.getDoc().setValue(localStorage.getItem('editorVal'));
function saveWorkspace() {
	localStorage.setItem('editorVal',editor.getValue());
}
</script>


<!-- <script>
	var editor = CodeMirror.fromTextArea(document.getElementById("myTextarea"),
			{
				lineNumbers : true,
				mode : "javascript",
				gutters : [ "CodeMirror-lint-markers" ],
				lint : true
			});

	var waiting;
	editor.on("change", function() {
		clearTimeout(waiting);
		waiting = setTimeout(updateHints, 500);
	});

	var widgets = []
	function updateHints() {
		editor.operation(function() {
			for (var i = 0; i < widgets.length; ++i)
				editor.removeLineWidget(widgets[i]);
			widgets.length = 0;

			JSHINT(editor.getValue());
			for (var i = 0; i < JSHINT.errors.length; ++i) {
				var err = JSHINT.errors[i];
				if (!err)
					continue;
				var msg = document.createElement("div");
				var icon = msg.appendChild(document.createElement("span"));
				icon.innerHTML = "!!";
				icon.className = "lint-error-icon";
				msg.appendChild(document.createTextNode(err.reason));
				msg.className = "lint-error";
				widgets.push(editor.addLineWidget(err.line - 1, msg, {
					coverGutter : false,
					noHScroll : true
				}));
			}
		});
		var info = editor.getScrollInfo();
		var after = editor.charCoords({
			line : editor.getCursor().line + 1,
			ch : 0
		}, "local").top;
		if (info.top + info.clientHeight < after)
			editor.scrollTo(null, after - info.clientHeight + 3);
	}

	setTimeout(updateHints, 100);
</script> -->