<div class="container" ng-controller="masterDirectory">
	<h2>PLEASE FOLLOW THE FOLLOWING STEPS TO DEPLOY YOUR BOT TO SLACK</h2>
	<div class="container">
		<div class="row">

			<div class="col-sm-12">
				<h2>
					1. Create accout on Heroku and Install Heeroku CLI Belt.<br>
					Login to Heroku CMD using your credentials
				</h2>
			</div>
			<div class="col-sm-12">
				<h2>
					2. Every First time user must create a directory to deploy the Bot
					<br> Create your directory by clicking the "CREATE DIRECTORY"
					button here
				</h2>
				<div class="col-sm-4">
					<button name="create" ng-click="createHerokuDirectory()"
						type="submit" class="btn btn-primary">Create Your
						Directory</button>

					<div class="alert alert-danger" ng-hide="directory_info">
						<strong>You Created : </strong>
						<code>{{results.directory}}}</code>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<h2>
					3. Please copy the last part of your directory name above in the<br>
					following box and replace your Master Directory By Clicking "Make <br>
					Master" button here
				</h2>
				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" ng-model="directory_name" name="directory_name"
							id="directory_name" class="form-control input-sm floatlabel"
							placeholder="directory_name">
					</div>
					<button name="master" ng-click="makeHerokuDirectoryMaster()"
						type="submit" class="btn btn-primary">Make Heroku Master</button>

					<div class="alert alert-danger" ng-hide="status_message">
						<strong>Your Directory is now master and you changes can
							be pushed to cloud : </strong><br>
						<code>{{results_master.directory}}</code>
					</div>
				</div>


			</div>

			<div class="col-sm-12">
				<h2>
					4. Use the code editor we provided to develope your code.<br>
					You can save workspace by clicking the
					<code>Save Workspace</code>
					button.
				</h2>
			</div>


			<div class="col-sm-12">
				<h2>
					5. Upload your files to your own heroku directory on cloud<br>
					and watch your slack bot in action.
				</h2>
			</div>

			<div class="col-sm-12">
				<h2>
					6. View Your Directories: Use this tab to switch between<br>
					your directories and upload your bot to that directory
				</h2>
				<div class="col-sm-4">
					<button name="view" ng-click="viewHerokuDirectory()" type="submit"
						class="btn btn-primary">View Your Directory</button>

					<div class="alert alert-danger" ng-hide="view_directories">
						<strong>Following are your Directories : </strong>
						<code>{{results_directories.directory}}}</code>
					</div>
				</div>
			</div>
		</div>
	</div>








</div>
