<div class="container">
	<h1>UPLOAD YOUR FILES HERE</h1>
	<h2>package.json</h2>
	<form>
		<div>
			<textarea class="botpackagejson" ng-model="modules"></textarea>
		</div>

		<h2>app.js</h2>

		<div id="demo">
			<label id="botcode" ng-model="module"></label>
			<br/>
			<button class="btn btn-primary" ng-click="upload()">Upload</button>
		</div>
	</form>
</div>
<script>
   document.getElementById('botcode').innerHTML = localStorage.getItem('editorVal').replace(/\n|\r\n|\r/g, '<br/>');
</script>